// heights
$header-height: 3.125rem;
$app-page-height: 9.75rem;

// widths
$card-width: 14.5rem;
$tile-width: 25rem;

// Colors
$black: #000000;
$editorBorder: #ddd;
$peach: #e4c5c5;
$greyNine: #999999;
$white: #ffffff;
$ddlgrey: rgba(61, 112, 178, 0.1);
$ddlgreyBtn: rgba(3, 3, 3, 0.1);
$brand-01: #3d70b2;
$brand-02: #5596e6;
$brand-03: #41d6c3;
$inverse-01: #ffffff;
$inverse-02: #272d33;
$ui-01: #ffffff;
$ui-02: #f4f7fb;
$ui-03: #dfe3e6;
$ui-04: #8897a2;
$ui-05: #5a6872;
$text-01: #152934;
$text-02: #5a6872;
$text-03: #cdd1d4;
$field-01: #f4f7fb;
$field-02: #ffffff;
$support-01: #e71d32;
$support-02: #5aa700;
$support-03: #efc100;
$support-04: #5aaafa;
$support-05: #c0defe;
$support-06: #eb6123;
$transparent: transparent;
$newcomment: #ffffea;
$primary-background: #FFFFFF;
$secondary-background: #F5F7FA;
$primary-color: #3D70B2;
$primary-border: #DFE3E6;
$success: #5FAA08;
$error: #E0182D;

$grayscale-01: #CCCCCC;
$grayscale-02: #DDDDDD;
$grayscale-03: #797979;

// heights
$header-height: 3.125rem;
$app-page-height: 9.75rem;

// widths
$card-width: 14.5rem;
$tile-width: 25rem;

$primary-border: #DFE3E6;
$modal-grey: #dcdcdc;
